*{
    margin: 0;
    padding: 0;
   
}
/* --------------Fondo-------------- */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(/img/FondoNuevo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
}

/* --------------Cabecera-------------- */
header {
    color: #2e2d2d;
    align-items:center;
    margin-left: 5px; 
    margin-right: 5px;
    padding: -20px;
    font-weight: bold ;
    margin-top: -30px;
  
}

  #barra a {
    color: #2e2d2d;
    text-decoration: none;
    margin-top: -40px;
    font-size: 1.3vw;
   
  }

  #barra{
  display: flex;
  justify-content:space-around;
 
}
  
        #barra a:hover {
          color: #c4c4c4;
        }

  .logo{
    display: flex;
    margin-top: -20;
  } 
     .logo-container{
          display: flex;
          justify-content: center;
        }
        
        
  .fas {
    color: #2e2d2d;
    margin-top: -10px;
  
  }

  .fa-shopping-cart:hover{
    color: #c4c4c4;
  }

.fa-user{
   color: #2e2d2d;
   margin-top: -10px;
}

.fa-user:hover{
  color: #c4c4c4;
}

/* ------------Main----------------- */
main img{
  width: 100%;
  height: 100%;
}


.inicio img {
  width: 20%;
  height: 20%;
  display: inline-block;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}


.inicio img:hover{
  width: 25%;
}
.inicio{
  display: flex;
  justify-content: space-around;
}

/* --------------Footer-------------- */

footer {
  text-align: center;
  padding-top: 150px;
}

.social-icons a {
  color: black;
  font-size: 20px;
  margin-right: 10px;
}

.copying {
  margin-top: 10px;
}

.copying p {
  font-size: 12px;
  color: #777;
}


/* --------------Media Query-------------- */

/* Dispositivo movil */
@media screen and (min-width:104px) and (max-width:767px) {
   .inicio {
      padding: 20px;
      margin-left: 50px;
    }
    
    header {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
      padding: 3px;
    }
  
    #barra a {
      margin-right: 5px;
      margin-top: 5px;
    }

    main img{
      margin-top: 80px;
    }

  .inicio {
    margin-left: -5px;
    margin-top: 20px;
  }
  .inicio img:hover{
    width: 30%;
  }

  footer {
    text-align: center;
    padding-top: 145px;
  }
   }
 
/*tablet*/
@media screen and (min-width:768px) and (max-width:1023px) {
  .inicio {
    padding: 20px;
    margin-left: 50px;
  }
  
  header {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
  }

  #barra a {
    margin-right: 5px;
    margin-top: 5px;
  }

  main img{
    margin-top: 30px;
  }

.inicio {
  margin-left: -5px;
  margin-top: 50px;
}
.inicio img:hover{
  width: 30%;
}

footer {
  text-align: center;
  padding-top: 145px;
}
 }

/* notebook*/
@media screen and (min-width:1024px) and (max-width:1365px) {
  .inicio {
    padding: 20px;
    margin-left: 50px;
  }
  
  header {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
  }

  #barra a {
    margin-right: 5px;
    margin-top: 5px;
  }

  main img{
    margin-top: 30px;
  }

.inicio {
  margin-left: -5px;
  margin-top: 50px;
}
.inicio img:hover{
  width: 30%;
}

footer {
  text-align: center;
  padding-top: 145px;
}
  }